/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  background: -moz-linear-gradient(top, rgba(38, 38, 38, 0.5) 0%, rgba(38, 38, 38, 0.5) 17%, rgba(38, 38, 38, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38, 38, 38, 0.5)), color-stop(17%,rgba(38, 38, 38, 0.5)), color-stop(100%,rgba(38, 38, 38, 0)));
  background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5) 0%,rgba(38, 38, 38, 0.5) 17%,rgba(38, 38, 38, 0) 100%);
  background: -o-linear-gradient(top, rgba(38, 38, 38, 0.5) 0%,rgba(38, 38, 38, 0.5) 17%,rgba(38, 38, 38, 0) 100%);
  background: -ms-linear-gradient(top, rgba(38, 38, 38, 0.5) 0%,rgba(38, 38, 38, 0.5) 17%,rgba(38, 38, 38, 0) 100%);
  background: linear-gradient(to bottom, rgba(38, 38, 38, 0.5) 0%,rgba(38, 38, 38, 0.5) 17%,rgba(38, 38, 38, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80262626', endColorstr='#00262626',GradientType=0 );
  background-color: #E0DED7;
}

/* needs refactoring v */
/* defaults for for pre WP8 IE Mobile and other browsers that ignore media queries */
body,page {
  max-width:100%;
  font-family: sans-serif;
}
blockquote {
  margin: 0 .25em 0 0.25em;
  padding: 0 .5em 0 .5em;
  border-left: 1px solid #007d15;
}
#branding{
  margin-bottom: .5em;
}

.spacer{height:70px;width:100%;}
#chooser, #newsHeader{
  border:1px solid #007d15;
  text-align: center;
  margin-bottom: .25em;
}
#chooser {
  padding: .25em 0;
}
#chooser p{
  display: inline-block;
  margin: .1em 0;
  border:none;
}
#newsHeader{
  padding: .25em 0;
}
#newsDesc {
  text-align: center;
  margin-bottom: .25em;
}
#newsDesc span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  font-weight: bold;
}
#page {
  float:none;
  padding:0 1em;
  margin:0 auto;
  position:static;
  left:0;
  width:auto;
  right:auto;
   overflow:hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
}
#footer{
  padding: 1em 0;
  margin-top: 1em;
  margin-right: 1em;
  border-top: 1px solid #007d15;
  display: table;
  width: 100%;
  table-layout: fixed;
}

#footer a {
    display: table-cell;
    text-align: center;
}

body {
  margin:1.5em auto;
  width:100%;
  max-width:69em;
  background-color:white;
}
#updated {text-align: center;}

a, a:hover, a:active {color:#007d15;}

a {text-decoration: none;}

a:hover, a:active{text-decoration: underline;}

#site-title {
  border-bottom: 1px solid #007d15;
  text-align: center;
  padding:.7em 1em .7em .7em;
}
#site-title h1 {
  display: inline-block;
}
#site-title h1 a {
  font-size: 38px;
  font-weight: bold;
  line-height: 28px;
  text-decoration: none;
}

.item{width:100%;}

#site-title a {
  color: black;
}

#site-description {
  color: black;
  display: inline-block;
}
/* Assistive text */
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
  background: #eee;
  border-bottom: 1px solid #007d15;
  color: #1982d1;
  clip: auto !important;
  font-size: 12px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  left: 7.6%;
}
.hiddenLabel{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.chk {
  white-space:nowrap;
  padding: 2px;
}
.chk input {margin-right:0;}
.separator {clear:both;}
#left-menu {float:left;}
#right-menu {float:right;}
#left-menu, #right-menu {
  line-height: 20px;
}
#left-menu a, #right-menu a {color:#007d15;}
.entry-meta{
  color: #222;
  clear: both;
  font-size: 12px;
  line-height: 18px;
}
hr {
    color: #007d15;
    background-color: #007d15;
    height: 1px;
}
    
table{
  table-layout:auto;
  text-align:center;
  width:100%;
}
table, td, th{
  border: 1px solid gray;
  border-collapse: collapse;
}
td, th {
  word-wrap:break-word;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
th.hidden, td.hidden, th.optional, td.optional {display: none;}

thead, th {color:white; background-color:#007d15;}
#caption {background-color:#4CAF50; color:black}
#wrap, #newswrap {
    overflow: auto;
    width:100%;
    overflow-x: hidden;
}
#wrap{height: 66vh;}
#newswrap {height: 73vh;}
.textfield {
   width: 10ex;
}
.inputGroup{
  white-space: nowrap;
}
.inputGroup input {
  margin:3px 0;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 1em auto; /* 1em from the top and centered */
    padding: 10px;
    border: 5px solid #007d15;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 80%; /* Could be more or less, depending on screen size */
    max-width:380px;
}
#moTitle {
  margin: .5em auto;
  text-align:center;
}
/* The Close Button */
.close {
    color: #007d15;
    float: right;
    font-size: 20px;
    font-weight: bold;
}
.moItem{
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#news, #plans {
  position:relative;
  top:-50px;
}
#loader {
  display: none;
  background-color: transparent;
  position: fixed;
  z-index: +100 !important;
  width: 100%;
  height:100%;
  left: 0;
  top: 0;
}

#loader img {
  position: fixed;
  top:50%;
  left:50%;
}
/* =Menu
-------------------------------------------------------------- */

ul.menu {
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 5pt;
  margin-left: 0pt;

}

ul.menu li {
  display: inline-block;
  margin: 0;
}

ul.menu li a {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-bottom : 0px;
  text-decoration: none;
  font-family: Verdana,Helvetica,Arial,Sans-Serif;
  font-style: normal;
  font-variant: normal;
  font-size: 80%;
  font-size-adjust: none;
  font-stretch: normal;
  font-weight: bold;
  line-height: normal;
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  margin-left: 0pt;
  color: black;
  background-color: #4caf50;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
}


ul.menu li a:hover {
  background-color: #007d15;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  color: white;
  text-decoration: none;
}

ul.menu li.current_page_item a, ul.menu li.current_page_item a:hover {
  color: white;
  background-color: #007d15;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
}

#menu-container nav{
  height:auto;
  width:auto;
  float:left;
}
#socialicons img{
  height:25px;
  width:auto;
}
#socialicons a{
  position: relative;
  top: -15%;
}
#socialicons {
  float:right;
  height: 25px;
}

/* media queries for progressive enhancement */

/* greater than 976px two Columns on the desktop and tablet */
@media screen and (min-width: 61em) {

  #primary {
    width: 68%;
    float: right;
    overflow: auto;
  }
  #secondary {
    float: left;
    width: 30%;
    min-width:300px;
    overflow: auto;
  }
  .mobileBar, #left-menu, #right-menu {display:none}
}
/* less than 976px single column primary and secondary */
@media screen and (max-width: 61em){
  #page {padding:0;}
  #primary, #secondary, .menu{
    width: 100%;
    padding-left:.25em;
  }
  #newsHeader{
    height: 3em;
  }
  #main{
    padding-right:.5em;
  }
  #branding{
    position:fixed;
    top: 0;
    width:100%;
    background:white;
    overflow:hidden;
    /* make scocial icons hide behond branding when scrolled */
    z-index:1;
  }
  #branding + * {
    margin-top: 35px;
  }
  #secondary {
    margin-top:0;
  }

  .mobileBar, #left-menu, #right-menu {
    display:block;
  }
}
/* < 640px Reduce font-sizes for better readability on smaller devices */
@media (max-width: 40em) {
  th, td, #chooser {
    font-size: 13px;
  }
  #newsHeader, #chooser{
    height: auto;
  }
  #site-title h1 a {
    font-size: 24px;
    line-height: 20px;
  }
  .modal-content {
    max-width: 75%;
  }
  ul.menu li a {
    font-family: Sans-Serif;
    padding-right: 5px;
    padding-left: 5px;
  }
  #branding + * {
    margin-top: 28px;
  }
}

@media (pointer:coarse) {
  /* make buttons and other “touch targets” bigger */
  tbody tr{height:2em;}
  td{vertical-align: middle;}
}